* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

/* Write your code here 👇 */
.panels {
    width: 100%;
    height: 50%;
}
img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: flex;
    flex-flow: row wrap;
}
 @media (min-width:600px) {
     .panels {
         
         display: flex;
         flex-flow: column-wrap;
     }
     img {
         height: 100vh;
     }
     
 }
 
 .grow{
     width:30em;
     transition: all 0.3s ease-out;  
     
 }
 
 



