
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: #404040;
    font-size: 1rem;
  
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 2em 0;
}

h1 + p {
    color:#F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;

}

h2 {
    font-size: 1.3125rem;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    text-transform: uppercase;
}

strong {
    color: #FFF;
    font-weight: 900;
}
.intro {
   color:#404040;
   margin: 0;
   background-image: url("images/ribs.jpg"),linear-gradient(45deg,red,blue);
   background-blend-mode: multiply;
   background-size: cover;
   background-position: center;
   padding: 0 2em 2em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
}

.top-text {
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    align-self: center;
    margin: 0;
    padding-top: 2px;
    border-top: 5px solid #F18119;
    order: -1;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Forms */

.email-collector {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

input {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.7em;
    border: 1px solid #404040;
    text-align: inherit;
    font-family: inherit;
}

input, 
.btn {

    
    width: 100%;
    border-radius: 5px;
}

.btn {

    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 1em 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.btn-primary {

    background: linear-gradient(90deg,#ffa51d,#ff713b);
    color: white;
    transition: 500ms;
}

.btn-primary:hover {
    color: black;

}



/* =================
   main-content section 
   ================= */
   
   .main-content {
    padding: 2em 1em;
}

/* media query */

@media (min-width: 500px) {
    body {
    font-size: 1.125rem;
    display: flex;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
       
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
   
    

